{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our store!!!!</p>
                </div>
            </div>
        </header>
        <div class = "container">
            <div class = "row">
                <center>
                    <div class = "col-8">
                        <p align="justify">
                            <br><br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit mi a ante elementum, tincidunt eleifend augue cursus. Donec a magna rutrum, malesuada metus in, volutpat lorem. Sed semper arcu velit. Praesent libero magna, posuere et lorem sit amet, hendrerit porta sem. Sed sodales dolor arcu, at interdum libero imperdiet eu. Curabitur eget dolor eget ligula volutpat ornare sit amet ac tellus. Nunc tristique molestie justo, a iaculis arcu iaculis vel. Nulla felis nibh, imperdiet rutrum eleifend ac, ultrices id odio. Phasellus et sagittis felis. Sed facilisis quam id justo faucibus, quis finibus ipsum posuere. Donec dui orci, dictum non ipsum scelerisque, semper pharetra libero. Integer at vehicula turpis.
                            <br><br/>
                            Integer fringilla mauris turpis, vitae porttitor dui vulputate sed. Curabitur a malesuada tellus, non dictum nisi. Cras efficitur luctus erat, vel pellentesque sem ornare non. Duis et turpis pretium, mattis neque in, fringilla erat. Fusce quis nunc sit amet turpis faucibus volutpat ut quis massa. Ut molestie sed lectus non blandit. Etiam vulputate semper ex et pharetra. Suspendisse potenti. Sed vitae lobortis lectus. Nulla id pharetra orci, eu sodales lectus. Mauris tristique eget nulla ut pretium.

                            Mauris et facilisis leo, eget efficitur felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eu ex finibus lacus elementum pretium id eu orci. Quisque finibus ex eget nisl dictum ullamcorper. Etiam tristique eu orci eu imperdiet. Vestibulum nec arcu maximus, porttitor velit nec, pretium enim. Ut efficitur risus in maximus gravida. Nunc convallis lorem in tincidunt fringilla. Maecenas et libero sit amet eros tincidunt vulputate nec porta mi. Quisque tristique nibh at dictum fringilla. Vestibulum tortor ligula, fermentum sit amet sapien in, posuere interdum sapien. Ut in posuere leo, in consectetur lacus. Nunc commodo enim eget viverra venenatis. Phasellus aliquet lobortis sollicitudin. Nunc pellentesque, massa in luctus fermentum, metus nisi ullamcorper augue, in iaculis sem nunc molestie mauris.
                            <br><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>
    
{% endblock %}